.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
}

header {
  min-height: 8vh;
}

.brand-large{
  font-size: 2rem;
}

.brand-med {
  font-size: 1.2rem;
}

.gradient-bg {
  background-image: linear-gradient(90deg, rgb(153, 153, 153), rgb(255, 255, 255),  rgb(153, 153, 153));
}

.div-style {
  background-color: black;
  margin: 10px;
  color: white;
  border-radius: 12px;
}

.div-style-2 {
  background-color: black;
  margin: 10px;
  color: white;
  border-radius: 12px;
  max-width: 50%;
  align-items: center;
  justify-content: center;
}

.icons {
   width: 32px;
  height: 32px;
  color: black;
  fill: currentColor;
  transition: transform 0.2s;
}

.icons:hover {
  transform: scale(1.2);
  color: lightskyblue; /* Optional: changes color on hover */
}